NODE_ENV=development
PORT=3160
LOG_LEVEL=info
BANDWIDTH_ACCOUNT_ID=
BANDWIDTH_API_TOKEN=
BANDWIDTH_API_SECRET=
BANDWIDTH_APPLICATION_ID=
BANDWIDTH_MESSAGING_API_BASE_URL=https://messaging.bandwidth.com/api/v2
INBOUND_STORAGE_DIR=./inbound
ECHO_SERVICE_BASE_URL=https://io.echo.wisp.net
DB_HOST=echo-database
DB_PORT=3306
DB_USER=echo_app
DB_PASSWORD=
DB_NAME=echo_db
MYSQL_ROOT_PASSWORD=
